.header {
    background: green;
    padding: 10px 30px;
    display: flex;
}

.btn-toggle1 {
    font-size: 18px;
    color: white;
    width: 50px;
}
.title-header {
    margin-top: 3px;
    font-size: 15px;
    font-weight: 650;
    color: white;
}

/* #components-layout-demo-custom-trigger .trigger {
    padding: 0 24px;
    font-size: 18px;
    line-height: 64px;
    cursor: pointer;
    transition: color 0.3s;
}

#components-layout-demo-custom-trigger .trigger:hover {
    color: #1890ff;
} */